<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="DarkTheme.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class = "background">
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCFdlW-MlMUkV7NXzOC2TZlCzXcWxD68mo
    &q= $body " frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>google maps einbinden <a href="http://www.pureblack.de/google-maps/">pureblack.de</a></div><style>.mapouter{overflow:hidden;height:500px;width:600px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
</body>
</html>
